h1{
    font-family: Helvetica;
    vertical-align: top;
    text-align: center;
    margin: 3%;
    font-size: 300%;
    color:mintcream;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;

}

h2{
    font-family: Helvetica;
    vertical-align: top;
    text-align: center;
    margin: 3%;
    font-size: 250%;
    color: mintcream;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.topnav {
    background-color: mintcream;
    overflow: hidden;
    w: hidden;
    font-weight: 100;
}

.topnav a {
    font-family: Helvetica;
    float: left;
    display: block;
    color: black;
    align-items: center;
    text-align: center;
    padding: 7px 10px;
    text-decoration: none;
    font-size: 100%;
}

.topnav a:hover {
    background-color: #e7e6f5;
    color: black;
}

.active {
    background-color: #bc97cc;
    color: white;
}

.pgreen1 {
    margin-bottom: 5%;
    margin-left: 10%;

}

.contactTxt {
    background-color: mintcream;
    overflow: hidden;
    w: hidden;
    font-weight: 200;
    font-family: Helvetica;
    float: left;
    display: block;
    color: black;
    align-items: right;
    text-align: right;
    padding: 210px 15px;
    text-decoration: none;
    font-size: 150%;
    margin-left: 5%;
    margin-right: 10%;
}

